<!-- <div class="container userform">
    <div class="card">
        <h5 class="card-header text-white">Mutual Fund Registration</h5>
        <div class="card-body">
            <form [formGroup]="fundForm" (ngSubmit)="onFormSubmit()">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="">Fund Id:</label>

                        <input type="text" class="form-control" formControlName="fundId" placeholder="Fund Id"
                            [(ngModel)]="funddetails.fundId" name="fundId">
                        <div class="error"
                            *ngIf="fundForm.controls['fundId'].hasError('fundId') && fundForm.controls['fundId'].touched">
                            Fund id is required</div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="">Fund Name:</label>

                        <input type="text" class="form-control" formControlName="fundName" placeholder="Fund Name"
                            [(ngModel)]="funddetails.fundName" name="fundName">
                        <div class="error"
                            *ngIf="fundForm.controls['fundName'].hasError('fundName') && fundForm.controls['fundName'].touched">
                            Fund Name is required</div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="">Amount:</label>
                        <input type="text" class="form-control" formControlName="amount" placeholder="Amount"
                            [(ngModel)]="funddetails.amount" name="amount">
                        <div class="error"
                            *ngIf="fundForm.controls['amount'].hasError('amount') && fundForm.controls['amount'].touched">
                            Amount is required</div>
                    </div>
                </div><br>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Account No:</label>
                        <input type="text" class="form-control" formControlName="accountNo" placeholder="Account No"
                            [(ngModel)]="account.accountNo" name="accountNo">
                        <div class="error"
                            *ngIf="fundForm.controls['accountNo'].hasError('accountNo') && fundForm.controls['accountNo'].touched">
                            account No is required</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="text-center col-md-12 mt-3 mb-2">
                        <button class="btn btn-primary savebutton" type="button"
                            type="button" (click)="onFormSubmit()">Register</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div> -->


<div class="container userform">
    <div class="card">
        <h5 class="card-header text-white">Mutual Fund Registration</h5>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="">Fund Id:</label>
                        
                        <input type="text" class="form-control" placeholder="Fund Id" [(ngModel)]="funddetails.fundId"
                            name="fundId">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="">Fund Name:</label>
                        
                        <input type="text" class="form-control" placeholder="Fund Name" [(ngModel)]="funddetails.fundName"
                            name="fundName">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label for="">Amount:</label>
                        <input type="text" class="form-control" placeholder="Amount" [(ngModel)]="funddetails.amount"
                            name="amount">
                    </div>
                </div><br>
                

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Account No:</label>
                        <input type="text" class="form-control" placeholder="Account No" [(ngModel)]="account.accountNo"
                            name="accountNo">
                    </div>
                </div> 
                <div class="form-row">           
                <div class="text-center col-md-12 mt-3 mb-2">
                    <button *ngIf="isLoggedIn == true" class="btn btn-success savebutton" type="button" type="button" (click)="onFormSubmit()" >Register</button>
                </div>
                </div>

                </form>
        </div>
    </div>

</div>