.invest-btn{
    padding: 4px;
    width: 300px;
    height: 45px;
    margin-left: 200px; 
    font-size: 20px;
    margin-left: 400px;
}

.acc{
    color: rgb(214, 100, 138);
    background-color: rgb(255, 215, 236);
}

.texts{
    color: rgb(151, 166, 175);
}


